body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .25px;
    min-height: 100vh;
    overflow: hidden;
    width: 100%
}

/* Split the screen in half */
.split {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  width:45%;
  left: 0;
  background-color: #00bfff;
}

/* Control the right side */
.right {
  width: 55%;
  right: 0;
  background-color: #fafafa;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.myPhoto {
  width: 400px;
  border-radius: 50%;
}

.logo {
  width: 32px;
  height: 32px;
}

.content {
  padding-left: 50px;
}

ul {
  display: flex;
  
  padding: 0px;
  
}

li {
  padding: 10px;
  font-size: 16px;
  list-style: none;
}

.content-title {
display: list-item;
font-size: 18px;
list-style-type: disc;

}
 
.content-skill-list {
    -moz-flex-direction: row;
    -moz-flex-wrap: wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -5px
}

.content-skill-list li {
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 2.5px 10px;
}

/* CSS FOR PROJECTS SECTION */

.project-image {
  max-height: 400px;
  max-width: 400px;
  margin: 20px;
  border: solid black 2px;
}

.project-description {
  font-size: 18px;
  display: list-item;
  list-style-type: disc;
}

.project-title {
  font-weight: 900;
}